<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Z3r0Trace</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>Z3r0Trace</h1>

    <p class="subtitle">
        Secure File Transfer Server
    </p>

    <div class="button-container">

        <a href="/upload" class="button">
            Upload File
        </a>

        <a href="/files" class="button">
            Browse Files
        </a>

    </div>

</div>

</body>

</html>